<div id="main_parent">
  <div id="main_all_headers">
    <div  id="main_session_info">
      <div style="text-align:right; margin: 5px 0; padding: 0">
      </div>
      <table width="100%">
        <tr>
          <th>Wachmann</th>
          <td style="width:15em">
            <div class="like_input"><%= current_user.nachname %></div>
          </td>
          <td style="text-align: right;">
            <%= button_tag "Abmelden", {type: :button, onclick: 'get_before_logout_actions()'} %>
          </td>
        </tr>
        <tr>
          <th>Objekt</th>
          <td>
            <div class="like_input"><%= current_objekt.bezeichner %></div>
          </td>
          <td style="text-align: right;">
            <%= button_tag "Aktualisieren", {title: 'Alle Daten aktualisieren', type: 'button', onclick: "refresh_all_lists()"} %>
          </td>
        </tr>
        <% if current_user.typ != KUNDE %>
          <tr>
            <th>Aktuelle Schicht</th>
            <td>
              <div id="current_schicht" class="like_input">&nbsp;</div>
            </td>
            <td style="text-align: right;">
              <button type="button" id="btn_schicht">Schicht beginnen</button>
            </td>
          </tr>
        <% end %>
        <tr>
          <th></th>
          <td>
          </td>
          <td>
          </td>

        </tr>
      </table>
    </div>
  </div>
  <script>
  </script>
  <div id="main_tabs" style="clear:both">
    <img id="newInfoIcon" src="/images/newInfo.gif" onclick="showInfobox()" />
    <ul>
      <li><a href="#tab_infos">Infobox</a></li>
      <li><a href="#tab_wachbuch">Wachbuch</a></li>
      <li><a href="#tab_dokumente">Dokumente</a></li>
      <li><a href="#tab_benutzer">Benutzerverw.</a></li>
    </ul>
    <div id="tab_infos">
      <div id="infos_list_container">
        <table id="infos_list">
          <thead>
            <tr>
              <th>Absender</th>
              <th>Datum</th>
              <th>Betreff</th>
            </tr>
          </thead>
          <tbody id="infos_list_body">
          </tbody>
        </table>
      </div>
      <div id="info_container"></div>
      <br />
      <button id="new_info_button" class="big_button" type="button" onclick="open_new_info()">Neue Nachricht verfassen</button>
    </div>
    <div id="tab_wachbuch">
      <h1>Wachbuch</h1>
      <table id="wachbuch_container">
        <tr>
          <td class="wachbuch_container_column">
            <select id="list_schichts" size="23">
            </select>
          </td>
          <td class="wachbuch_container_column">
            <h2>Rapporte</h2>
            <select id="list_rapports" size="20">
            </select>
          </td>
          <td class="wachbuch_container_column">
            <h2>Checklisten</h2>
            <select id="list_checklistes" size="20">
            </select>
          </td>
        </tr>
        <tr height="40">
          <td>
            <button type="button" onclick="open_wachbuch_eintrag()" class="big_button">Wachbucheintrag bearbeiten</button>
          </td>
          <td>
            <table><tr>
                <td width="50%">
                  <button type="button" onclick="open_rapport()" class="big_button">Rapport</button>
                </td>
                <td>
                  <button title="Alle Rapporte drucken" type="button" onclick="print_rapports()"><img src="/images/print.png" /></button>
                </td>
                <td>
                  <button type="button" id="btn_delete_rapport" onclick="delete_rapport()">Löschen</button>
                </td>
            </tr></table>
          </td>
          <td>
            <table><tr>
                <td width="70%">
                  <button type="button" onclick="open_checkliste()" class="big_button">Checkliste</button>
                </td>
                <td>
                  <button type="button" id="btn_delete_checkliste" onclick="delete_checkliste()">Löschen</button>
                </td>
            </tr></table>
          </td>
        </tr>
      </table>
    </div>
    <div id="tab_dokumente">
      <div id="pdf-datei-art-selector">
        <div class="toggle-btn-grp">
          <div>
            <%= radio_button_tag "pdf_datei_art", PDF_DATEI_ART_ARB_ANW_ALLG, (current_user.typ != KUNDE), {disabled: (current_user.typ == KUNDE)} %>
            <%= label_tag "pdf_datei_art_" + PDF_DATEI_ART_ARB_ANW_ALLG, "Arbeitsanweisungen - Allgemein", class:"toggle-btn" %>
          </div>
          <div>
            <%= radio_button_tag "pdf_datei_art", PDF_DATEI_ART_ARB_ANW_OBJ, (current_user.typ == KUNDE) %>
            <label onclick="" class="toggle-btn">Arbeitsanweisungen - Objekt</label>
          </div>
          <div>
            <%= radio_button_tag "pdf_datei_art", PDF_DATEI_ART_SONST_OBJ %>
            <label onclick="" class="toggle-btn">Sonstiges - Objekt</label>
          </div>
        </div>
      </div>

      <table id="pdf-dateis-layout-table"><tr>
          <td id="pdf-dateis-list-container">

            <select id="pdf_dateis_list" size="25">
            </select>

          </td>

          <td id="pdf_datei_viewer_container">
            Bitte wählen Sie ein Dokument!
          </td>
      </tr></table>


    </div>
    <div id="tab_benutzer">
      <div id="benutzer_change_password">
        <div class="frame_header">
          <h3>Eigenes Passwort ändern</h3>
        </div>
        <%= button_tag "Passwort ändern", {title: 'Eigenes Passwort ändern', type: :button, onclick: 'open_change_password()', class: 'big_button'} %>
      </div>
    </div>
  </div>
</div>

