<div class="details_dialog">
  <%= form_tag(change_password_path, remote: true) do %>
    <div class="field">
      <%= label_tag :old_password, "Altes Passwort:" %>
      <%= password_field_tag :old_password %>
    </div>
    <div class="field">
      <%= label_tag :new_password, "Neues Passwort:" %>
      <%= password_field_tag :new_password %>
    </div>
    <div class="field">
      <%= label_tag :repeat_password, "Passwort wiedeholen:" %>
      <%= password_field_tag :repeat_password %>
    </div>
    <div class="actions">
      <button type="button" onclick="close_change_password()">Abbrechen</button>
      <%= submit_tag "Ok" %>
    </div>
  <% end %>
</div>
