<div class="details_dialog">
  <%= form_for(@schicht, remote: true) do |f| %>
    <% if @schicht.errors.any? %>
      <div id="error_explanation">
        <h2>Es gab <%= @schicht.errors.count %> Fehler beim Speichern:</h2>

        <ul>
        <% @schicht.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :datum %><br>
      <%= f.text_field :datum, {value: @schicht.datum.strftime(FORMAT_SCHICHT_DATUM), class: 'date_input'}  %>
    </div>
    <div class="field">
      <%= f.label :uhrzeit_beginn %><br>
      <%= f.text_field :uhrzeit_beginn, {class: 'time_input'} %>
    </div>
    <div class="field">
      <%= f.label :uhrzeit_ende %><br>
      <%= f.text_field :uhrzeit_ende, {class: 'time_input'} %>
    </div>
    <div class="actions">
      <button type="button" onclick="close_new_schicht()">Abbrechen</button><%= f.submit "Beginnen" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
<!--
  init_new_schicht_dialog();
-->
</script>
