<% readonly ||= false %>
<div class="details_dialog">
<%= form_for(@kontrollanruf, remote: true) do |f| %>
  <% if @kontrollanruf.errors.any? %>
    <div id="error_explanation">
      <h2>Es gab <%= @kontrollanruf.errors.count %> Fehler beim Speichern:</h2>

      <ul>
      <% @kontrollanruf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@kontrollanruf.persisted? %>
    <%= f.hidden_field :wachbuch_eintrag_id %>
  <% end %>
  <div class="field">
    <%= f.label :uhrzeit, "Uhrzeit: " %><br>
    <%= f.text_field :uhrzeit, class: 'time_input', readonly: readonly %>
  </div>
  <div class="field">
    <%= f.label :bemerkung, "Bemerkung: " %><br>
    <%= f.text_area :bemerkung, rows: 5, readonly: readonly %>
  </div>
  <div class="actions">
    <% if readonly %>
      <button onclick="close_kontrollanruf()">Schließen</button>
    <% else %>
      <button onclick="close_kontrollanruf()">Abbrechen</button>
      <%= f.submit "Speichern" %>
    <% end %>
  </div>
<% end %>
</div>
