<h1>Listing infos</h1>

<table>
  <thead>
    <tr>
      <th>Benutzer</th>
      <th>Art</th>
      <th>Datum</th>
      <th>Betreff</th>
      <th>Text</th>
      <th>Datei</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.benutzer %></td>
        <td><%= info.art %></td>
        <td><%= info.datum %></td>
        <td><%= info.betreff %></td>
        <td><%= info.text %></td>
        <td><%= info.datei %></td>
        <td><%= link_to 'Show', info %></td>
        <td><%= link_to 'Edit', edit_info_path(info) %></td>
        <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info', new_info_path %>
