<p>
<% if @info.art != INFO_ART_NORMAL %>
  <span style="float:right; padding:1px 10px; background-color: <%= INFO_ART_HINTERGRUNDFARBE[@info.art] %>">
    <strong>Art:</strong> <%= INFO_ART_STRING[@info.art] %>
  </span>
<% end %>
  <strong>Betreff:</strong> 
  <div style="clear: both" class="like_input"><%= @info.betreff %></div>
</p>

<p>
  <strong>Nachricht:</strong>
  <pre style="height: 10em; overflow: auto;" class="like_input"><%= @info.text %></pre>
</p>

<div>
  <div class="fill_remaining_header"> <strong>Dokument:</strong></div>
  <div class="fill_remaining_footer">
    <% if (@info.has_datei? && ((@info.datei_art == PDF_DATEI_ART_ARB_ANW_ALLG && current_user.typ != KUNDE) || @info.datei_objekt_id == current_objekt.id)) %>
      <% name = @info.dateiname %>
      <% art = @info.datei_art %>
      <% mark_read_path = (@ie.gelesen)?'':mark_info_read_path(@info) %>
      <%= button_tag "Dokument lesen", {type: 'button', onclick: "readDocument('#{name}', '#{art}', '#{mark_read_path}')"} %>
    <% else %>
      <%= button_tag "Dokument lesen", {type: 'button', disabled: true } %>
    <% end %>
  </div>
  <div class="fill_remaining_content">
    <span class="like_input"><%= if @info.has_datei? then @info.dateiname_mit_objekt else "&nbsp;".html_safe end %></span>
  </div>
</div>

