<p>
<% if @info.art != INFO_ART_NORMAL %>
  <span style="float:right; padding:1px 10px; background-color: <%= INFO_ART_HINTERGRUNDFARBE[@info.art] %>">
    <strong>Art:</strong> <%= INFO_ART_STRING[@info.art] %>
  </span>
<% end %>
  <strong>Betreff:</strong> 
  <div style="clear: both" class="like_input"><%= @info.betreff %></div>
</p>

<p>
  <strong>Nachricht:</strong>
  <div style="height: 10em; overflow: auto;" class="like_input"><%= @info.text %></div>
</p>

<p>
  <strong>Dokument:</strong>
  <span style="width: 60%" class="like_input"><%= if @info.datei && @info.datei.length > 0 then @info.datei else "&nbsp;".html_safe end %></span>
    <button onclick="not_yet()">Dokument lesen</button>
</p>

